# ¿Cuáles son las habilidades más requeridas en el top 3 de roles con datos en US?

## Metodología
1. Limpieza de habilidades por columna
2. Contar habilidades por job_title_short
3. Calcular porcentajes
4. Graficar

In [20]:
# Importar librerias
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datasets import load_dataset
import ast

# Cargar datos
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Limpieza de datos
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])
df['job_skills'] = df['job_skills'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x) #Se transforman los string a la estructura correspondiente (list)

In [24]:
df_us = df[df['job_country'] == 'United States']
df_us.head(3)

        job_title_short  ...                                    job_type_skills
0  Senior Data Engineer  ...                                               None
3         Data Engineer  ...  {'cloud': ['aws'], 'libraries': ['tensorflow',...
5         Data Engineer  ...  {'cloud': ['gcp'], 'programming': ['python', '...

[3 rows x 17 columns]

In [26]:
df_skills = df_us.explode('job_skills') #Se separan los valores de las listas en filas distintas
df_skills

             job_title_short  ...                                    job_type_skills
0       Senior Data Engineer  ...                                               None
3              Data Engineer  ...  {'cloud': ['aws'], 'libraries': ['tensorflow',...
3              Data Engineer  ...  {'cloud': ['aws'], 'libraries': ['tensorflow',...
3              Data Engineer  ...  {'cloud': ['aws'], 'libraries': ['tensorflow',...
3              Data Engineer  ...  {'cloud': ['aws'], 'libraries': ['tensorflow',...
...                      ...  ...                                                ...
785692        Data Scientist  ...         {'programming': ['python', 'matlab', 'r']}
785703          Data Analyst  ...                                               None
785705          Data Analyst  ...  {'analyst_tools': ['tableau'], 'programming': ...
785705          Data Analyst  ...  {'analyst_tools': ['tableau'], 'programming': ...
785705          Data Analyst  ...  {'analyst_tools': ['tableau'], 'programming': ...

[1073565 rows x 17 columns]